body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Sora", sans-serif;
};

//Mika Snowden, 8/7/2025, 15:11 >> Style da página lockscreen
.lockscreen-container-form {
    font-weight: lighter;
    font-size: 2.5rem;
    margin: 33vh 78vh;
};

.lockscreen-container-form_input, .lockscreen-container-form_button {
    padding: 1rem;
};

.lockscreen-container-form_prompt, .lockscreen-container-form_input, .lockscreen-container-form_button {
    margin: 1rem;
};

.lockscreen-container-form_input {
    display: block;
    width: 21.9rem;
    background-color: #202020;
    border: 0;
    border-radius: .2rem;
    color: #FFFFFF;
};

.lockscreen-container-form_input {
    font-size: 1.5rem;
};

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
};

.lockscreen-container-form_button {
    width: 23.8rem;
    color: #FFFFFF;
    border-radius: .2rem;
    border: solid .1rem #00AAFF;
    background-color: #000000;
};

.lockscreen-container-form_button:hover {
    background-color: #00AAFF;
    box-shadow: #00AAFF .1rem .3rem 1.5rem;
    transition: .8s;
};

//Mika Snowden, 12/7/2025, 21:31 >> Style do component page-skeleton
.navbar {
    padding: 1rem;
};

.navbar-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-ul-li {
    list-style-type: none;
};

.navbar-ul-li-link {
    color: #FFFFFF;
    text-decoration: none;
};

.navbar-ul-li-search_input {
    width: 15rem;
    background-color: #202020;
    border: 0;
    border-radius: .2rem;
    color: #FFFFFF;
    padding: .5rem;
};

//Mika Snowden, 13/7/2025, 10:20 >> Style do component hitman
.hitman-container-page-introduction {
    background: url(app/hitman/assets/69713-Hitman-3-4k-Ultra-HD-Wallpaper.jpg);
    padding: 10rem;
};

.hitman-container-page-introduction-message_p {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 3.5rem;
}