body {
    background-color: #000000;
    color: #FFFFFF;
};

//Mika Snowden, 8/7/2025, 15:11 >> Style da página lockscreen
.lockscreen-container {
    font-family: "Sora", sans-serif;
};

.lockscreen-container-form {
    font-weight: lighter;
    font-size: 2.5rem;
    margin: 20% 38%;
};

.lockscreen-container-form_prompt, .lockscreen-container-form_input {
    margin: 1rem;
}

.lockscreen-container-form_input {
    display: block;
    padding: 1rem;
    width: 75%;
    background-color: #202020;
    border: 0;
    border-radius: .2rem;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}